<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
  <br/>
  <b>Author:</b>
  <%= @book.author %>
  <br>
  <b class='active'>Lent to :</b>
  <%= @book.lendee.name %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
